**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup

override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan
*.tfvars
*.auto.tfvars


/jenkins/.terraform
/jenkins/terraform.tfstate
/jenkins/terraform.tfstate.backup
/jenkins/
/jenkins/.terraform.lock.hcl


/vpn_gateway/.terraform
/vpn_gateway/terraform.tfstate
/vpn_gateway/terraform.tfstate.backup
/vpn_gateway/secrets.tf
